@font-face {
    font-family: Monserrate-Hairline-Font;
    src: url("assets/fonts/MONTSERRAT-HAIRLINE.OTF") format("opentype");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("assets/fonts/MONTSERRAT-LIGHT.OTF") format("opentype");
}

@font-face {
    font-family: Montserrat-Thin;
    src: url("assets/fonts/MONTSERRAT-THIN_0.OTF") format("opentype");
}

body{
    margin: 0px;
    font-family: Montserrat-Light;
   
}

.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    width: 25%;
    margin: 1em;
}

.nav-list{
    list-style-type: none;
    display: flex;
    margin: 1em;
}

nav button{
    font-family: Montserrat-Thin;
    color: white;
    padding: 0.3em 1.9em;
    font-size: 20px;
    margin: 0.5em;
    border: none;
    cursor: pointer;
}

.land{
    background-color: #26b899; 
    height: 800px; 
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1500px;
  }

  .coloumn-1, .coloumn-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .sec_2{
    border-bottom: 1px solid #756e6e8a;
    color: #716558;
  }

  .sec_4, .sec_5, .sec_6{
    border-bottom: 1px solid #756e6e8a;
    text-align: justify;
    padding: 3em 0;
}
  
  .sec_2 .col-1, .sec_5 .col-1{
    width: 70%;
    margin-right: 9em;
  }
  
  .sec_2 .col-2, .sec_5 .col-2{
    width: 50%;
    margin-right: 5em;
  }

  .sec_4 .col-1, .sec_6 .col-1{
    width: 50%;
    margin-right: 9em;
  }
  
  .sec_4 .col-2, .sec_6 .col-2{
    width: 70%;
  }

.sec_2 .col-2 img, .sec_4 .col-1 img, .sec_5 .col-2 img, .sec_6 .col-1 img{
    cursor: pointer;
}



#sec_3{
    background-color: #f2f2f2;
    border-bottom: 1px solid #756e6e8a;
    display: none;
}

.box-coloumn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec_3 #box1{
    width: 250px;
    margin: 5em 3em;
    position: relative;
}

#sec_3 #box2{
    width: 250px;
    margin: 5em 3em;
    position: relative;
}

#sec_3 .top1{
    position: absolute;
    bottom: 11.5em;
    left: 3.5em;
    color: white;
}

#sec_3 .bottom1{
    position: absolute;
    bottom: 3em;
    font-size: 15.47px;
    padding: 0px 1em;
    text-align: left;
    color: #4d4e4e;
}

#sec_3 .top2{
    position: absolute;
    bottom: 11.5em;
    left: 3.5em;
    color: white;
}

#sec_3 .bottom2{
    position: absolute;
    bottom: 3em;
    font-size: 15.47px;
    padding: 0px 1em;
    text-align: left;
    color: #4d4e4e;
}

#sec_7{
    background-color: #f2f2f2;
    position: relative;
    border-bottom: 1px solid #756e6e8a;
    display: none;
}

#sec_7 #circle1{
    width: 300px;
    margin: 5em 3em;
    position: relative;
}

#sec_7 #circle2{
    width: 300px;
    margin: 5em 3em;
    position: relative;
}

#sec_7 .cirtxt1{
    position: absolute;
    font-size: 18.47px;
    bottom: 5.5em;
    left: 3.5em;
    color: white;
    text-align: center;
}

#sec_7 .cirtxt{
    color: #26b899;
    display: inline-block;
}

#sec_7 .cirtxt2{
    position: absolute;
    font-size: 18.47px;
    bottom: 5.6em;
    left: 4em;
    color: white;
    text-align: center;
}

#sec_8{
    background-color: #f2f2f2;
    position: relative;
    border-bottom: 1px solid #756e6e8a;
    display: none;
}

#sec_8{
    padding: 3em 0 ;
}

#sec_8 .coloumn{
    display: flex;
    flex-direction: column;
}

#sec_9{
    background-color: #f2f2f2;
    position: relative;
    border-bottom: 1px solid #756e6e8a;
    padding: 3em 0 ;
    display: none;
}

#sec_9 .coloumn{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sec_9 img{
    border-radius: 50%;
}

#sec_9 .cirtxt2{
    width: 50%;
}

.form form{
   max-width: 30em;
   margin: 0em 3em;
}

.form input[type=email]{
   height: 33px;
   font-size: 15.47px;
   width: 100%;
   margin-top: 3em;
   padding: 1em;
   border-radius: 1px;
   border: 1px solid #808080;
   background-color: #f2f2f2;
   box-sizing: border-box;
}

.form input[type=password]{
   height: 33px;
   font-size: 15.47px;
   width: 100%;
   margin-top: 0.5em;
   padding: 1em;
   border-radius: 1px;
   border: 1px solid #808080;
   background-color: #f2f2f2;
   box-sizing: border-box;
}

.form input[type=checkbox]{
    margin-top: 0.8em;
    background-color: #f2f2f2;
    float: left;
    margin-left: 0px;
    cursor: pointer;
}

.form label{
    color: #4d4e4e;
    margin-top: 0.5em;
    float: left;
    font-size: 14.47px;
    cursor: pointer;
}

.form a{
   color: #4d4e4e;
   float: right;
   margin-top: 0.5em;
   font-size: 14.47px;
}

.form input[type=submit]{
   height: 33px;
   font-size: 15.47px;
   width: 100%;
   background-color: #945aa1;
   color: white;
   border: none;
   border-radius: 1px;
   margin-top: 0.5em;
   margin-bottom: 3em;
   cursor: pointer;
}

footer{
background-color: rgb(49, 54, 54);
padding: 2em;
}

.coloumn, .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fot-col1{
    width: 33.33%;
    margin-left: 6em;
}

.fot-col2{
    width: 33.33%;
    text-align: center;
    margin-left: 6em;
}

.fot-col3{
    width: 33.33%;
    margin-left: 10em;
}

.fot-col3 img{
    cursor: pointer;
}

footer button{
    font-family: Montserrat-Thin;
    color: white;
    padding: 0.3em 1.9em;
    font-size: 20px;
    border: none;
    margin-right: 3em;
    cursor: pointer;
}

@media (max-width: 600px) {

    nav button{
        margin: 0 0.5em;
    }
    .container-nav{
        flex-direction: column;
        width: 85%;
        margin: 1em;
    }
    .nav-logo{
        padding-left: 1.3em;
        width: 100%;
    }
    .nav-list{
        margin: 0;
        padding-right: 2em;
    }


    .land{
        height: 300px;
    }


    .coloumn-1{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .coloumn-2{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
      }

    .sec_2{
        padding-bottom: 1em;
    }

    .sec_2 .col-1, .sec_5 .col-1{
        width: 100%;
        margin-right: 0;
      }
      
      .sec_2 .col-2, .sec_5 .col-2{
        width: 100%;
        margin-right: 0;
      }
    
      .sec_4 .col-1, .sec_6 .col-1{
        width: 100%;
        margin-right: 0;
      }
      
      .sec_4 .col-2, .sec_6 .col-2{
        width: 100%;
      }
    
    .box-coloumn{
        flex-direction: column;
    }

    #sec_3 #box1{
        margin: 3em 0 0 0;
    }

    #sec_3 #box2{
        margin: 3em 0;
    }

    #sec_7 #circle1, #sec_7 #circle2{
        margin: 1em 0;
    }

    #sec_9 .cirtxt2{
        width: unset;
    }



    .coloumn{
        flex-direction: column-reverse;
    }
    .col{
        flex-direction: column;
        margin: 1em 0;
    }
    .fot-col1, .fot-col2, .fot-col3{
        width: 100%;
        margin: 0.5em;
        text-align: center;
    }
    .fot-col1 button{
        margin: 0;
    }

  }