nav{
    background-color: black;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    background: #395870;
    background: linear-gradient(#f01919, #c27217);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
}

.one #a{
    border: 3px solid;
    height: 200px;
    width: 250px;
    padding: 10px;
    display: inline-block;
    margin: 1em;
    text-align: justify;
  }

.one #b{
    border: 5px double;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    padding: 10px;
    display: inline-block;
    margin: 1em;
    text-align: center;
    overflow: scroll;
  }

.one #c{
    border: 3px dotted;
    height: 400px;
    width: 400px;
    display: inline-block;
    margin: 1em;
    background: url('assets/imgs/Illustrations Elements-02.png') 0 50% no-repeat;
    background-size: contain;
    background-clip: padding-box;
  }

.two{
    overflow: hidden;
}

.two section{
    width: 45%;
}

.two aside{
    width: 45%;
}

.two #a{
    border: 3px solid;
    height: 200px;
    width: 250px;
    padding: 10px;
    display: inline-block;
    margin: 1%;
    text-align: justify;
  }

.two #c{
    border: 3px dotted;
    height: 20em;
    width: 25em;
    margin: 1em;
    background: url('assets/imgs/Illustrations Elements-02.png') 0 50% no-repeat;
    background-size: contain;
    background-clip: padding-box;
    float: right;
  }

.container{
      margin: 0 auto;
      padding: 0 30px;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.3);
  }

table{
      border-collapse: collapse;
      font-size: 20px;
  }

th,td{
    border: 2px solid;
  }